#movie-result {
  background: rgb(195, 155, 232);
  border: 5px solid black;
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background: rgb(232, 224, 155);
  border: 5px solid black;
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
  background-color: black;
}

html {
  font-family: "Kranky", serif;
  font-weight: 400;
  font-style: normal;
}
